/* .text-box {
  margin-left: 44vw;
  margin-top: 42vh;
}
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-white {
  background-color: #fff;
  color: #777;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn-white::after {
  background-color: #fff;
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
} */


.coolBeans
  border: "2px solid currentColor"
  border-radius 3rem
  color yellow
  font-family roboto
  font-size 4rem
  font-weight 100
  overflow hidden
  padding 1rem 2rem
  position relative
  text-decoration none
  transition .2s transform ease-in-out
  will-change transform
  z-index 0
  
  &::after
    background-color yellow
    border-radius 3rem
    content: ''
    display block
    height 100%
    width 100%
    position absolute
    left 0
    top 0
    transform translate(-100%, 0) rotate(10deg)
    transform-origin top left
    transition .2s transform ease-out
    will-change transform
    z-index -1
    
  &:hover::after
    transform translate(0, 0)
    
  &:hover
    border 2px solid transparent
    color indigo
    transform scale(1.05)
    will-change transform